<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h2>Вход</h2>

<form th:action="@{/auth}" th:object="${user}" method="post">
    <label>Логин: </label>
    <input type="text" th:field="*{login}" required><br><br>

    <label>Пароль: </label>
    <input type="password" th:field="*{password}" required><br><br>

    <button type="submit">Войти</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>
</html>
